@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

p {
  @apply mt-3;
}

p + p {
  @apply mt-5;
}

/* Created to be used in the Projects page. Saving for a future layout */
.halftone {
  background-image: radial-gradient(
    circle at center,
    rgb(218, 218, 218) 0.08rem,
    transparent 0
  );
  background-size: 1.55rem 1.55rem;
  background-repeat: round;
  background-position: 7px 5px;

  padding: 30px;
}
