body {
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
  “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
  sans-serif;
}

a:link {
  color: hsl(217, 71%, 53%);
}

a:visited {
  color: hsl(217, 71%, 42%);
}

a:hover {
  color: hsl(217, 71%, 63%);
}

a:active {
  color: hsl(217, 71%, 63%);
  text-decoration: none;
}


h1 {
  font-size: 4em;
  line-height: 1;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1em;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.site-nav-right .nav {
  margin: 0;
  display: flex;
}

.site-nav-right .nav li {
  margin-left: 20px;
}

.footer {
  margin-top: 7em;
  margin-bottom: 2em;
}

.footer .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .content .column {
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 425px) {
  .footer .content .column {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .footer .content .column {
    width: auto;
  }
}


.post-feed {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.post-feed .post-card {
  width: 100%;
  padding: .75rem;
}

@media (min-width: 425px) {
  .post-feed .post-card {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .post-feed .post-card {
    width: 33.333333%;
  }
}

.disqus {
  margin-top: 4em;
}
